<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Moniteur de Jardin</title>
    <!-- CSS  -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="/public/design.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet"> 
    <!--peut ecraser les styles bootstrap precedents-->
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js" ></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row Header">
            <div class="col-12">
                <h1>
                <p>Gestion du Jardin</p>
            </h1></div>
        </div>
        <div class="row graph">
            <div class="col-12 mx-auto hidden-md-down">
                <div id="graphique" class="img-responsive"></div>
            </div>
            
        </div>
       
        <div class="row p-3 col-12">
            <div class="col-10 col-lg-2 p-0">
                <div class="sensor-container">
                    <div class="temp-bar p-3 d-inline-block" ></div>
                               
                    <div class="sensor-png"><img class="image" src="public/thermo.png"></div>
                </div>
            </div>
            <div id="tempData" class="col-2 col-lg-2 p-0"><h1></h1></div>
            <div class="col-10 col-lg-2 p-0">
                <div class="sensor-container">

                    <div class="hum-bar p-3 d-inline-block" ></div>
                              
                    <div class="sensor-png"><img class="image" src="public/humidity.png"></div>

                </div>

            </div>
            <div id="humData" class="col-2 col-lg-2 p-0"><h1></h1></div>
            <div class="col-10 col-lg-2 p-0">
                <div class="sensor-container">
                    <div class="cuve-bar p-3 d-inline-block" ></div>
                               
                    <div class="sensor-png"><img class="image" src="public/cuve.png"></div>
                </div>
            </div>
            <div id="eauData" class="col-2 col-lg-2 p-0"><h1></h1></div>
           

                
            <!--<div class="col-12 col-lg-4 mx-auto p-5">
                <div id='circleHumi' class="col-lg-4 mx-auto circle"><strong></strong></div>
            </div>
            <div class="col-12 mx-auto p-5">
                <div id='circleEau' class="col-lg-4 mx-auto circle"><strong></strong></div>
            </div> -->
        </div>
        <div class="row Main3 p-3 col-12">
            <div class="col-sm-12 rounded mx-auto d-block">
                <div class ="image">
                <img name="Camera" class="img-responsive rounded mx-auto d-block" src="http://192.168.1.78:8085/image.jpg" alt="Live" title="Camera Jardin" />
                </div>
            </div>
        </div>

        <div class="row Arrosage p-1">
            <div class="col-12 ">
                <div class ="col-5 mx-auto">
                    <a href="/arrosage" class="btn btn-warning btn-outline-warning btn-lg mx-auto d-block active" role="button" aria-pressed="true">Arroser le jardin</a>
                </div>
            </div>
            <div id="nbCycles" class="col-sm-4">
                
            </div>
        </div>
        <div class="row Footer">
            <div class="col-xs-12 col-12 mx-auto">
                <p>Footer Text</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src=https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/fr.js"></script>
<script src="/public/graphique.js"></script>

</html>
