body {
    background-color: rgba(73, 72, 81, 1);
    font-family: 'Vibur', cursive;
}

p { text-align: center }

.image {
	text-align: center;
	z-index : 1000;
}

.circle {
  text-align: center;

}


.container {
	color: rgba(183,214,177,1);
}

.Header {
	text-align: center;
	color: rgba(183,214,177,1);
	paddin-top: 30px;

}

.Footer {
    background-color: rgba(59, 158, 191,1);
    
    height : 5%;
}
