body {
    background-color: rgba(73, 72, 81, 1);
    font-family: 'Vibur', cursive;
}

p {
    text-align: center
}

#arroSlider .slider-selection {
    background: #BABABA;
}

#arrow {
    height: 5%;
    width: 10%;
    position: relative;
    bottom: 8%;
}

.sensor-container {
    
    position: relative;
}

.sensor-text {
  color: white;
  text-align: left;
}

.temp-bar {
    height: 50%;
    max-height: 80%;
    width: 30%;
    background-color: #cb3838;
    position: absolute;
    bottom: 20%;
    margin: auto;
    right: 0;
    left: 0;
}
.img-responsive{
width: 100%;

}
.hum-bar {
    height: 50%;
    max-height: 65%;
    width: 50%;
    background-color: #468499 ;
    position: absolute;
    bottom: 20%;
    margin: auto;
    right: 0;
    left: 0;
}
.cuve-bar {
    height: 50%;
    max-height: 80%;
    width: 30%;
    background-color: #36648B;
    position: absolute;
    bottom: 10%;
    margin: auto;
    right: 0;
    left: 0;
}

.sensor-png {
    
    position: relative;
}

.image {
    height: 100%;
    width: 100%;
}

.circle {
    background-color: rgba(59, 158, 191, 0.3);
    border-radius: 23px;
}

.container {
    color: rgba(183, 214, 177, 1);
}

.Header {
    text-align: center;
    color: rgba(183, 214, 177, 1);
    paddin-top: 30px;
}

.Footer {
    background-color: rgba(59, 158, 191, 1);
    height: 5%;
}
